{:paths   ["src"]
 :deps    {}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {babashka/fs              {:mvn/version "0.5.30"}
                                babashka/process         {:mvn/version "0.6.25"}
                                cheshire/cheshire        {:mvn/version "6.1.0"}
                                org.babashka/cli         {:mvn/version "0.8.67"}
                                org.babashka/http-client {:mvn/version "0.4.23"}}}
           :dev  {:extra-paths ["dev"]
                  :extra-deps  {dev.weavejester/hashp                    {:mvn/version "0.5.1"}
                                io.github.tonsky/clj-reload              {:mvn/version "1.0.0"}
                                djblue/portal                            {:mvn/version "0.64.1"}
                                com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.7.0"}}}
           :neil {:project {:name        com.outskirtslabs/nixbot-cli
                            :url         "https://github.com/outskirtslabs/nixbot-cli"
                            :license     {:id   "EUPL-1.2"
                                          :file "LICENSE"}
                            :description "Inspect and control Nixbot CI builds from the terminal"
                            :version     "0.1.0"}}}}
